.navbar {
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .nav-link {
    color: white !important;
    margin: 0 10px;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: #ffcc00 !important;
  }
  
  .active-link {
    color: #ff0000 !important;
    border-bottom: 2px solid #ff0000;
  }
  